h1 {
  color: rgb(252, 0, 239);
  animation: h1-spin infinite 5s linear;
}

@keyframes h1-spin {
  from { transform: rotate(-5deg); }
  to { transform: rotate(5deg); }
}

body {
  background-image: url('./images/four-smoothies.JPG');
  background-size: 100% auto;
  /* background-origin: padding-box; */
  /* background-image: url('./images/fruit-plate.jpg');
  background-image: url('./images/green hue.jpg');
  background-image: url('./images/healthy-food-basket.jpg');
  background-image: url('./images/limone-fresco.jpg');
  background-image: url('./images/pumpkin.jpg');
  background-image: url('./images/superfoods-weight-loss-salad.jpg'); */
}

